* {
  box-sizing: border-box;
  font-family: Arial sans-serif;
}
body {
  font-size: 17px;
}
/* form style */
input:not([type="radio"]) {
  display: block;
}
input:not([type="radio"]):focus {
  border: #03a3df;
}
.radio-select {
  display: block;
}
input[type="submit"] {
  margin: 0 auto;
  width: 22rem;
  background-color: #03a3df;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}
input[type="submit"]:hover {
  background-color: #ecb722;
  color: #444444;
}
input[type="submit"]:active {
  background-color: #1b447f;
  color: white;
}
/* form style end */
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-weight: bold;
  font-size: 17px;
}
.banner {
  background-color: #03a3df;
  height: 15px;
  margin-bottom: 2rem;
}
.split {
  background-color: #03a3df;
  height: 2px;
  margin-bottom: 0;
}
ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li:after {
  content: '/';
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}
ul li:last-child:after {
  content: '';
  margin-left: 0;
}
.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 1rem 1rem;
}
header {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #03a3df;
  padding: 1rem 4rem 1rem 4rem;

}
main {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1rem 4rem 0 4rem;
}
footer {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: url("../image/footerImage.jpg");
  background-size: cover;
  padding: 4rem 4rem 1rem 4rem;
  color: white;
  font-size: 12px;
  margin-top: 0;
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.instructor {
  width: 20rem;
  color: #03a3df;
}
.nondiscriminatory-policy {
  background-color: #ecb722;
}
.private-class {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.private-class div {
  width: 15rem;
}
.classes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.classes div {
  width: 15rem;
}
